<meta name="viewport" content="width=device-width, initial-scale=1">

<h1>Fireworks Launcher </h1>

    <form method="post" action="/">
        <table style="width: 90%;">
        <tr>
        {%for pin in pins%}
            <td> 
            <input type="submit" 
                   value="FIRE {{pin}}" 
                   name="action1"
                   style="font-size : 50px;"/>
            </td>
		{% if loop.index is divisibleby(2) %}
                     </tr>
                     <tr>
                {% endif %}
        {%endfor%}
        <td></td><td></td></tr>
        </table>
    </form>
